*{
	box-sizing: border:box;
	font-family: monospace;
}

.container{
	width: 90%;
	position: relative;
	margin:0 auto;
}

.title{
	text-align: center;
}

#game{
	margin:0 auto;
}

#invadersCanvas{
	border:thin solid #ccc;
}